<div class="container">
  		<div class="modal fade" id="myModal1" role="dialog">
    		<div class="modal-dialog">
          <!-- Modal content-->
      		<div class="modal-content">
      			
	        		<div class="modal-header">
	          		<button type="button" class="close" data-dismiss="modal">&times;</button>
	        		</div>
	        		<div class="modal-body">
	          		<table class="table table-bordered">
	          			<thead>
										<tr>
											<th>Category</th>
											<th>Event</th>
											<th>When</th>
											<th>Location</th>
											<th>P.S</th>
											<th colspan="2">Status</th>
										</tr>
									</thead>
									<tbody>
										<% @notices_done.each do |notice| %>
										<tr>
											<td><%= notice.category.name %></td>
											<td><%= notice.event %></td>
											<td><%= notice.event_time.to_s(:long) %></td>
											<td><%= notice.location %></td>
											<td><%= notice.postscript %></td>
											<td>Completed on <%= notice.updated_on %></td>
									</tr>
			      		<% end %>
								</tbody>
	       			 </table>
	      		</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      		</div>
	    		</div>
  		</div>
	  </div>
