<table class="table table-bordered">
	<thead>
		<tr>
			<th>Event</th>
			<th>Location</th>
			<th>When</th>
			<th>P.S</th>
			<th colspan="2">Options</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @notice.event %></td>
			<td><%= @notice.location %></td>
			<td><%= @notice.event_time %></td>
			<td><%= @notice.postscript %></td>
			<td>
				<%= link_to edit_notice_path(@notice) do  %>
					<i class="fa fa-pencil"></i>
				<% end %>
			</td>
			<td>
				<%= link_to notice_path(@notice), method: :delete, data: {confirm: "Are you sure?"} do %> 
					<i class="fa fa-times"></i>
				<% end %>
			</td>
		</tr>
	</tbody>
</table>